//-------------------------------
// レスポンシブ定義
//-------------------------------
$ultra: 1920px; //ウルトラワイドモニター
$wide:  1600px; //ワイドコンテナー
$pc:    1200px; // PC
$s-pc:  1300px; // PC
$tab:   856px;  // タブレット
$small: 560px;  //ワイドスマホ
$sp:    428px;  // スマホ

//ウルトラワイドモニター
@mixin ultra {
  @media only screen and (min-width: ($ultra)){
    @content;
  }
}
//ウルトラワイドモニター
@mixin wide-container {
  @media only screen and (max-width: ($wide)){
    @content;
  }
}
//1200px以下のPC及びタブレット
@mixin pc {
  @media only screen and (max-width: ($pc)) {
    @content;
  }
}
//1024px以下のPC及びタブレット
@mixin s-pc {
  @media only screen and (max-width: ($s-pc)) {
    @content;
  }
}
//タブレット
@mixin tab {
  @media only screen and (max-width: ($tab)) {
    @content;
  }
}
//ワイドスマホ
@mixin small {
  @media only screen and (max-width: ($small)) {
    @content;
  }
}
//スマホ
@mixin sp {
  @media only screen and (max-width: ($sp)) {
    @content;
  }
}



//-------------------------------
//  font-family
//-------------------------------
$font:"Noto Sans JP", sans-serif;
$josefin: 'Josefin Sans', sans-serif;
//-------------------------------
//  color
//-------------------------------
$color-black:     #333333;
$color-dark:      #575757;
$color-grey:      #cccccc;
$color-white:     #ffffff;
$color-orange:    #EC6A06;
$color-blue:      #283AE1;
$color-blue2:     #28A7E1;
$color-red:       #FE3737;
$color-pink:      #E12867;

//-------------------------------
//  font-style mixin
//-------------------------------
@mixin font-style($font-size, $font-color, $font-weight, $line-height, $letter-spacing){
    font-size: $font-size;
    color: $font-color;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}



//-------------------------------
//  ベースのCSS
//-------------------------------
html{
    font-family: $font;
    //---------------------------------------------------
    //計算式：10px /  デザインカンプの横幅 * 100
    //画面サイズがデザインカンプ幅の時font-size = 10pxになる
    //---------------------------------------------------
    // font-size: calc(10 / 1920 * 100) + vw;
    // @include pc{
    //     font-size: calc(10 / 1200 * 100) + vw;
    // }
    // @include tab{
    //     font-size: calc(10 / 856 * 100) + vw;
    // }
    // @include sp{
    //     font-size: calc(10 / 428 * 100) + vw;
    // }
}
body{
    font-family: $font;
    &.fixed{
      overflow: hidden;
    }
}
.wrapper{
  width: 100%;
  overflow-x: hidden;
}
img{
  width: 100%;
  height: 100%;
}
picture{
    display: block;
}
a[href^="tel:"] {
    pointer-events: none;
    @include small{
        pointer-events: auto;
    }
}